body {
  font-family: sans-serif;
  line-height: 1.6;
  background: #dddddd;
  border: 5px solid #ffd24a;
}

#site_header {
  background-color: #ff8523;
  padding: 30px 300px 30px 20px;
}

.main_navigation a {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
  border-radius: 25px;
  margin-top: 40px;
}

#page_content {
  background-color: white;
  padding: 15px 5px 15px 20px;
}

h2 {
  color: #1fabe5;
}

p a {
  color: #1fabe5;
}

h3 {
  color: #1fabe5;
}

ul{
  font-weight: bold;
  border-bottom: 5px solid #eee;
  padding-bottom: 60px;
}

table{
  border-bottom: 5px solid #eee;
  padding-bottom: 60px;
}

thead td {
  background-color: #1fabe5;
  color: white;
  border: 2px solid #046c97;
  padding: 8px 10px 8px 10px;
}

tbody td {
  border: 2px solid #1fabe5;
  padding-left: 10px
}

td img {
  max-width: 50px;
  height:auto;
  display: flex;
  margin: 10px;
}

form {
  background-color: #eee;
}

.name {
  background-color: #ff8523;
  border-radius: 40px;
  padding: 10px 10px 10px 10px;
  color: white;
  margin: 20px;
}

input {
  height: 40px;
  width: 200px;
}

label {
  margin-left: 30px;
}

.city







/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
